body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    background: #FFF7ED;
}

.container {
    width: 650px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    border-left: 8px solid #EA580C;
}

h2 {
    text-align: center;
    color: #C2410C;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #444;
}

input,
select {
    width: 100%;
    padding: 11px;
    margin-top: 6px;
    border: 2px solid #FDBA74;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type="submit"] {
    margin-top: 25px;
    background: #EA580C;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background: #C2410C;
}

.success {
    text-align: center;
    color: #16A34A;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #FED7AA;
}

th {
    background: #F97316;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    background: #FFF7ED;
}

button {
    background: #2563EB;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1D4ED8;
}